@page "/authpartsofpagetest"

<h3>AuthorizeComponentPage</h3>
<AuthorizeView>
    <Authorized>
        <p>You are authorized!</p>
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized!</p>
    </NotAuthorized>
</AuthorizeView>

@code {

}

